.input-field {
  //margin: 15px 0;
  font-size: 13px;
  padding: 0 5%;
  box-sizing: border-box;
  margin-top: 35px;
  margin-bottom: 15px;
  .title {
    margin-top: 15px;
    font-size: 18px;
    border-bottom: 2px solid #eb6100;
    padding-bottom: 6px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
  }
  .input-div {
    display: inline-block;
    height: 20px;
    position: relative;
    .clear-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      right: 16px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .input-value {
    border: none;
    outline: none;
    line-height: 20px;
    font-size: 13px;
  }
  .input-value::-webkit-input-placeholder{
    color: #c5c8ce;
    font-size: 13px;
  }
}
.input-field:first-child {
  margin-top: 0;
}
.input-unit {
  margin: 15px 0;
}

.result, .IO {
  text-align: left;
  //margin: 15px 0 15px 30px;
  font-size: 16px;
  color: #eb6100;
  border-bottom: 1px solid #eb6100;
  padding: 5px 0;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.result {
  margin-top: 25px;
  border-bottom: 1px solid #eb6100;
  padding: 5px 0;
  box-sizing: border-box;
}

.result-panel {
  text-align: left;
  //margin: 10px 0 0 30px;
  .input-option, .output-option {
    //margin: 10px 0;
    margin-bottom: 5px;
  }
}

.config-formula {
  padding-right: 13%;
  text-align: left;
  font-size: 12px;
  color: #eb6100;
  margin-top: 20px;
  position: relative;
  height: 4vh;
  overflow: hidden;
  .expand-formula {
    height: 4vh;
    line-height: 4vh;
    font-size: 16px;
  }
  p {
    margin: 10px 10px 10px 0;
  }
  .expand-formula-text {
    display: inline-block;
  }
  .triangle {
    display: inline-block;
    width: 10px;
    height: auto;
    margin-left: 10px;
  }
}


