.input-field {
  margin: 15px 0;
  font-size: 14px;
  .title {
    margin-top: 15px;
    font-size: 18px;
  }
  .input-label {

  }
  .input-div {
    display: inline-block;
    height: 20px;
    position: relative;
    .clear-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      right: 16px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .input-value {
    border: none;
    outline: none;
    line-height: 20px;
    font-size: 15px;
  }
  .input-value::-webkit-input-placeholder{
    color: #c5c8ce;
  }
}
.input-field:first-child {
  margin-top: 0;
}
.input-unit {
  margin: 15px 0;
}

.result, .IO {
  text-align: left;
  margin: 15px 0 15px 30px;
  font-size: 18px;
}
.result {
  margin-top: 20px;
}

.result-panel {
  text-align: left;
  margin: 10px 0 0 30px;
  .input-option, .output-option {
    margin: 10px 0;
  }
}

.config-formula {
  padding-left: 5%;
  padding-right: 13%;
  text-align: left;
  font-size: 12px;
  color: #eb6100;
  margin-top: 20px;
  position: relative;
  height: 4vh;
  overflow: hidden;
  p {
    margin: 10px;
  }
}
.triangle {
  width: 0;
  height: 0;
  border-width: 12px;
  border-style: solid;
  border-color: #CCCCCC transparent transparent transparent;
  transform: rotate(180deg);
  transform-origin: center 6px;
  position: absolute;
  right: 20px;
  top: 12px;
  -webkit-transition: rotate 0.5s;
  -moz-transition: rotate 0.5s;
  -ms-transition: rotate 0.5s;
  -o-transition: rotate 0.5s;
  transition: rotate 0.5s;
  -webkit-tap-highlight-color: white;
}
.isOpen {
  transform: rotate(0deg);
}