* {
  margin: 0;
  padding: 0;
}
body, html {
  height:100%;
}

.loop-bg {
  background-image: url(/freelancer/public/image/loop/loop-bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  .open-config {
    position: absolute;
    top: 3%;
    right: 5%;
    color: white;
    font-size: 12px;
  }
  //  ‰»Îøÿ÷∆∞Â
  .configPanel {
    .config {
      background: #FFFFFF;
      width: 92%;
      height: 84%;
      position: absolute;
      top: -8%;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      z-index: 1;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      overflow: scroll;
      .close {
        display: block;
        width: 10px;
        height: auto;
        position: fixed;
        top: 35px;
        right: 25px;
      }
      .config-unit {
        margin: 5% 0;
        list-style-type: none;
        font-size: 14px;
        .config-formula {
          display: block;
          padding-left: 5%;
          padding-right: 5%;
          text-align: left;
          p {
            margin: 10px;
          }
        }
        .config-title {
          display: block;
          text-align: center;
          vertical-align: middle;
          .config-label {
            font-size: 18px;
          }
          .config-formula {
            font-size: 12px;
            color: #eb6100;
            margin-top: 20px;
          }
        }
        .config-control {
          display: block;
          vertical-align: middle;
          .math-params {
            text-align: left;
            padding-left: 24px;
            padding-right: 24px;
            margin-bottom: 5%;
            padding-top: 15px;
            .cal-input {
              margin: 2% 0;
              display: block;
              -webkit-appearance:none;
              outline: none;
              text-indent: 10px;
              width: -webkit-fill-available;
              line-height: 1.5;
              font-size: 14px;
              width: 60%;
            }
            .cal-btn {
              background: #eb6100;
              color: white;
              font-size: 18px;
              width: 285px;
              height: 42px;
              line-height: 42px;
              text-align: center;
              margin: 20px auto;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
            }
          }

        }
      }
      .btn-div {
        text-align: center;
        .confirm {
          display: inline-block;
          background: #034eab;
          color: white;
          font-size: 18px;
          width: 285px;
          height: 42px;
          line-height: 42px;
          text-align: center;
          margin: 10px auto 25px auto;
          padding: 0;
          border: none;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
        }
      }
    }
  }
  .loop-img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 100vh;
  }
  .param-div {
    position: absolute;
    top: 58%;
    left: 0;
    right: 0;
    overflow: scroll;
    height: 33vh;
    .loop-value-div {
      background-image: url(/freelancer/public/image/loop/loop-value-bg.png);
      height: 22.5vh;
      width: 22.5vh;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      .value {
        position: relative;
        top: 50%;
        transform: translateY(-75%);
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0 auto;
        color: #FFFFFF;
      }
    }
  }
}



@media (max-height :680px) and (min-width: 413px) {

}
